//Colors
$white: #F2F2F2;
$dark: #070707;
$titles: #303030;
$subtitles: #606060;
$background-dark: #a0a0a0;
$background-light: #dddddd;
$key-color: #737A80;

//Fonts
$main-font:"Noto Sans";
$title-font:"Oswald";