footer {
    padding:50px 0;
    background-color:rgba($dark, 0.8);
    @include mq(0, 425px) {
        padding:30px 0;
    }

    .wrapper {
        font-size: 0;

        .footer-section {
            margin:0;
            height:100%;
            width:25%;
            font-size: 18px;
            font-weight: lighter;
            font-family:$main-font;
            display: inline-block;
            vertical-align: top;
            @include mq(0, 425px) {
                width:50%;
            }
            &:last-child {
                article {    
                    a {
                        &:nth-of-type(n+2) {
                            display:inline-block;
                            margin:0;
                        }
                    }
                }
            }
            article {
                margin: 30px 0;
                color:$white;
                text-align:left;
                p {
                    font-size: 24px;
                    line-height:30px;
                    font-weight: 500;
                    @include mq(0, 425px) {
                        font-size:18px;
                    }
                }
                .foot-link {
                    margin-bottom: 20px;
                    display: block;
                    margin-top:20px;
                    text-decoration: none;
                    color:$white;
                    line-height:24px;
                    @include mq(0, 425px) {
                        font-size:14px;
                    }
                }
                .social {
                    font-size:0;
                    margin-top:20px;
                    @include mq(346px, 425px) {
                        margin-top:0;
                    }
                    .social-group {
                        display:inline-block;
                        margin:0;
                        @include mq(0, 768px) {
                            &:last-of-type{
                                margin-top:20px;
                            }
                        }
                        a {
                            font-size:0;
                            svg {
                                font-size: 30px;
                                color:$white;
                                display:inline-block;
                                margin-right:20px;
                                @include mq(0, 425px) {
                                    margin-right:12px;
                                    font-size:24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}